.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    min-width: 400px;
    min-height: 350px;
    padding: 20px;
    box-sizing: border-box;
}

#canvas {
    width: 100%;
    min-height: 200px;
    flex-grow: 1;
    border: 1px solid #999;
    margin: 0 auto;
    border-radius: 5px;
}

.movable{
    cursor: move;
}

#controls {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#controls .slider {
    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;
}

#controls .slider  label{
    padding: 0 20px;
}

#controls .speed-sliders {
    display: flex;
    flex-direction: column;
}

#controls .slider  input{
    margin-top: -1px;
}
#controls .color-picker {
    margin-left: 20px;
}

#controls .checkbox {
    margin-left: 20px;
}

#clear {
    margin-left: 20px;
}

label.disabled{
    cursor: not-allowed;
    color: #cad2d3;
}