.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 400px;
    min-height: 350px;
    padding: 20px;
    box-sizing: border-box;
}

#canvas {
    width: 100%;
    min-height: 200px;
    flex-grow: 1;
    border: 1px solid #999;
    margin: 0 auto;
    border-radius: 5px;
}

.movable {
    cursor: move;
}

.hidden {
    display: none;
}

#controls {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

#controls .slider {
    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;
}

#controls .slider label {
    padding: 0 20px;
}

#controls .speed-sliders {
    display: flex;
    flex-direction: column;
}

#controls .slider input {
    margin-top: -1px;
}

#controls .color-picker {
    margin-left: 20px;
}

#controls .checkbox {
    margin-left: 20px;
}

#clear {
    margin-left: 20px;
}

#capture {
    margin-left: 20px;
}

label.disabled {
    cursor: not-allowed;
    color: #cad2d3;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-top: 1px solid #d1d1d1
}

.github-fork-ribbon a {
    text-decoration: none;
}